In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
from datetime import timedelta
import numpy as np

pd.set_option('display.max_columns', None)
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False
colors = sns.color_palette('pastel')

In [2]:
df_click = pd.read_csv('C:/Users/mj985/section5/TeamProject2/model_new_session_id.csv')
df_trans_new = pd.read_csv('C:/Users/mj985/section5/TeamProject2/csv/transaction_new.csv')
df_customer = pd.read_csv('C:/Users/mj985/section5/TeamProject2/csv/customer.csv')

In [3]:
df_trans_user = df_trans_new.merge(df_customer, on = 'customer_id', how = 'left')

In [4]:
df_click = df_click.rename(columns={'session_id': 'new_session_id'})
df_click['session_id'] = df_click['new_session_id'].apply(lambda x: x[:36])

In [5]:
# session_id 열을 기준으로 df와 df_trans_new를 병합
merged_df = pd.merge(df_click, df_trans_user, on='session_id', how='left')
merged_df['event_time'] = pd.to_datetime(merged_df['event_time'])
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21130155 entries, 0 to 21130154
Data columns (total 43 columns):
 #   Column                  Dtype
---  ------                  -----
 0   new_session_id          object
 1   event_name              object
 2   event_time              datetime64[ns, UTC]
 3   event_id                object
 4   traffic_source          object
 5   product_id_x            float64
 6   quantity_x              float64
 7   item_price_x            float64
 8   payment_status_x        object
 9   search_keywords         object
 10  promo_code_x            object
 11  promo_amount_x          float64
 12  duration_time           object
 13  session_id              object
 14  created_at              object
 15  customer_id             float64
 16  booking_id              object
 17  payment_method          object
 18  payment_status_y        object
 19  promo_amount_y          float64
 20  promo_code_y            object
 21  shipment_fee            float64
 22  shipment_date_limit     object
 23  shipment_location_lat   float64
 24  shipment_location_long  float64
 25  total_amount            float64
 26  product_id_y            float64
 27  quantity_y              float64
 28  item_price_y            float64
 29  first_name              object
 30  last_name               object
 31  username                object
 32  email                   object
 33  gender                  object
 34  birthdate               object
 35  device_type             object
 36  device_id               object
 37  device_version          object
 38  home_location_lat       float64
 39  home_location_long      float64
 40  home_location           object
 41  home_country            object
 42  first_join_date         object
dtypes: datetime64[ns, UTC](1), float64(15), object(27)
memory usage: 6.8+ GB

In [6]:
merged_df['first_join_date'] = pd.to_datetime(merged_df['first_join_date'])

In [7]:
merged_df = merged_df[['new_session_id', 'event_name', 'product_id_x', 'event_time', 'total_amount', 'traffic_source', 'payment_method', 'shipment_date_limit', 'payment_status_x','shipment_fee', 'search_keywords', 'promo_code_x', 'promo_amount_x', 'customer_id', 'first_join_date']]

In [8]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21130155 entries, 0 to 21130154
Data columns (total 15 columns):
 #   Column               Dtype
---  ------               -----
 0   new_session_id       object
 1   event_name           object
 2   product_id_x         float64
 3   event_time           datetime64[ns, UTC]
 4   total_amount         float64
 5   traffic_source       object
 6   payment_method       object
 7   shipment_date_limit  object
 8   payment_status_x     object
 9   shipment_fee         float64
 10  search_keywords      object
 11  promo_code_x         object
 12  promo_amount_x       float64
 13  customer_id          float64
 14  first_join_date      datetime64[ns]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(5), object(8)
memory usage: 2.4+ GB

In [9]:
time_df = merged_df[['customer_id', 'new_session_id', 'event_time', 'first_join_date', 'traffic_source']].drop_duplicates(subset='new_session_id', keep = 'first')

In [10]:
time_df['created_at'] = time_df['event_time'].dt.strftime('%Y-%m-%d')
time_df.head(5)

,customer_id,new_session_id,event_time,first_join_date,traffic_source,created_at
0,74433.0,00001f29-3ede-4445-95f0-0178934e32ba_1,2019-05-17 11:51:52.276396+00:00,2017-02-05,MOBILE,2019-05-17
1,74433.0,00001f29-3ede-4445-95f0-0178934e32ba_2,2019-05-17 19:54:53.276396+00:00,2017-02-05,MOBILE,2019-05-17
3,74433.0,00001f29-3ede-4445-95f0-0178934e32ba_3,2019-05-18 03:58:25.276396+00:00,2017-02-05,MOBILE,2019-05-18
4,74433.0,00001f29-3ede-4445-95f0-0178934e32ba_4,2019-05-18 12:02:44.276396+00:00,2017-02-05,MOBILE,2019-05-18
5,74433.0,00001f29-3ede-4445-95f0-0178934e32ba_5,2019-05-18 20:04:54.276396+00:00,2017-02-05,MOBILE,2019-05-18

In [11]:
time_df = time_df.groupby(['customer_id', 'created_at'])[['first_join_date','new_session_id']].first().reset_index()

In [12]:
time_df['created_at'] = pd.to_datetime(time_df['created_at'])

In [13]:
time_df['diff'] = time_df.groupby('customer_id')['created_at'].diff().shift(-1)

In [14]:
time_df.dropna(subset=['diff'], inplace=True)

In [15]:
time_df

,customer_id,created_at,first_join_date,new_session_id,diff
0,3.0,2018-08-25,2018-08-25,f03b6825-1e6e-4916-bf71-f94ecbcbaee5_7952132,24 days
1,3.0,2018-09-18,2018-08-25,36673b2f-940a-42b5-994d-1cce4796b55f_1792149,1 days
2,3.0,2018-09-19,2018-08-25,36673b2f-940a-42b5-994d-1cce4796b55f_1792150,1 days
3,3.0,2018-09-20,2018-08-25,36673b2f-940a-42b5-994d-1cce4796b55f_1792151,2 days
4,3.0,2018-09-22,2018-08-25,36673b2f-940a-42b5-994d-1cce4796b55f_1792152,13 days
...,...,...,...,...,...
4396082,99998.0,2022-01-07,2018-07-01,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625124,1 days
4396083,99998.0,2022-01-08,2018-07-01,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625125,1 days
4396084,99998.0,2022-01-09,2018-07-01,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625126,2 days
4396085,99998.0,2022-01-11,2018-07-01,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625127,1 days
4396086,99998.0,2022-01-12,2018-07-01,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625128,13 days

In [16]:
time_df['customer_id'].nunique()

40389

In [17]:
time_df['diff'].describe()

count                       4345385
mean      7 days 22:42:19.406381713
std      27 days 12:24:20.249427593
min                 1 days 00:00:00
25%                 1 days 00:00:00
50%                 1 days 00:00:00
75%                 5 days 00:00:00
max              1080 days 00:00:00
Name: diff, dtype: object

In [18]:
# check_df에서 diff칼럼이 15일 이상인 행 추출
mask = time_df['diff'] > pd.Timedelta(days=5)
# target 열 생성
time_df['target'] = np.where(mask, 1, 0)

In [19]:
time_df['target'].value_counts(normalize=True)

target
0    0.777027
1    0.222973
Name: proportion, dtype: float64

In [20]:
(time_df.groupby('customer_id')['target'].sum()/time_df.groupby('customer_id')['target'].size() * 100).describe()

count    40389.000000
mean        35.645487
std         27.994407
min          0.000000
25%         17.508418
50%         24.279835
75%         43.902439
max        100.000000
Name: target, dtype: float64

In [21]:
# time_df.to_csv('target.csv')

In [22]:
merged_df.head(5)

,new_session_id,event_name,product_id_x,event_time,total_amount,traffic_source,payment_method,shipment_date_limit,payment_status_x,shipment_fee,search_keywords,promo_code_x,promo_amount_x,customer_id,first_join_date
0,00001f29-3ede-4445-95f0-0178934e32ba_1,HOMEPAGE,NaN,2019-05-17 11:51:52.276396+00:00,1427802.0,MOBILE,Credit Card,2019-05-21T13:04:58.898492Z,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05
1,00001f29-3ede-4445-95f0-0178934e32ba_2,ADD_TO_CART,33855.0,2019-05-17 19:54:53.276396+00:00,1427802.0,MOBILE,Credit Card,2019-05-21T13:04:58.898492Z,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05
2,00001f29-3ede-4445-95f0-0178934e32ba_2,HOMEPAGE,NaN,2019-05-17 19:55:12.276396+00:00,1427802.0,MOBILE,Credit Card,2019-05-21T13:04:58.898492Z,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05
3,00001f29-3ede-4445-95f0-0178934e32ba_3,CLICK,NaN,2019-05-18 03:58:25.276396+00:00,1427802.0,MOBILE,Credit Card,2019-05-21T13:04:58.898492Z,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05
4,00001f29-3ede-4445-95f0-0178934e32ba_4,CLICK,NaN,2019-05-18 12:02:44.276396+00:00,1427802.0,MOBILE,Credit Card,2019-05-21T13:04:58.898492Z,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05

In [23]:
# ADD_TO_CART COUNT
merged_df = merged_df.merge(merged_df[merged_df['event_name'] == 'ADD_TO_CART'].groupby('new_session_id')['event_time'].count(), on = 'new_session_id', how = 'left')
merged_df['event_time_y'] = merged_df['event_time_y'].fillna(0)
merged_df = merged_df.rename(columns={'event_time_y': 'ADD_TO_CART_COUNT'})

In [24]:
merged_df = merged_df.rename(columns={'event_time_x': 'event_time'})

In [25]:
# SEARCH COUNT
merged_df = merged_df.merge(merged_df[merged_df['event_name'] == 'SEARCH'].groupby('new_session_id')['event_time'].count(), on = 'new_session_id', how = 'left')
merged_df['event_time_y'] = merged_df['event_time_y'].fillna(0)
merged_df = merged_df.rename(columns={'event_time_y': 'SEARCH_COUNT'})
merged_df = merged_df.rename(columns={'event_time_x': 'event_time'})

In [26]:
# ADD_PROMO COUNT
merged_df = merged_df.merge(merged_df[merged_df['event_name'] == 'ADD_PROMO'].groupby('new_session_id')['event_time'].count(), on = 'new_session_id', how = 'left')
merged_df['event_time_y'] = merged_df['event_time_y'].fillna(0)
merged_df = merged_df.rename(columns={'event_time_y': 'ADD_PROMO_COUNT'})
merged_df = merged_df.rename(columns={'event_time_x': 'event_time'})

In [27]:
# BOOKING COUNT
merged_df = merged_df.merge(merged_df[merged_df['event_name'] == 'BOOKING'].groupby('new_session_id')['event_time'].count(), on = 'new_session_id', how = 'left')
merged_df['event_time_y'] = merged_df['event_time_y'].fillna(0)
merged_df = merged_df.rename(columns={'event_time_y': 'BOOKING_COUNT'})
merged_df = merged_df.rename(columns={'event_time_x': 'event_time'})

In [28]:
# ITEM_DETAIL COUNT
merged_df = merged_df.merge(merged_df[merged_df['event_name'] == 'ITEM_DETAIL'].groupby('new_session_id')['event_time'].count(), on = 'new_session_id', how = 'left')
merged_df['event_time_y'] = merged_df['event_time_y'].fillna(0)
merged_df = merged_df.rename(columns={'event_time_y': 'ITEM_DETAIL_COUNT'})
merged_df = merged_df.rename(columns={'event_time_x': 'event_time'})

In [29]:
# merged_df = merged_df.merge(merged_df[merged_df['event_name'] == 'SEARCH'].groupby('new_session_id')['event_time_x'].count(), on = 'new_session_id', how = 'left')
# merged_df.head(5)

In [30]:
# merged_df.to_csv('check_num_events.csv')

In [31]:
time_df.head(5)

,customer_id,created_at,first_join_date,new_session_id,diff,target
0,3.0,2018-08-25,2018-08-25,f03b6825-1e6e-4916-bf71-f94ecbcbaee5_7952132,24 days,1
1,3.0,2018-09-18,2018-08-25,36673b2f-940a-42b5-994d-1cce4796b55f_1792149,1 days,0
2,3.0,2018-09-19,2018-08-25,36673b2f-940a-42b5-994d-1cce4796b55f_1792150,1 days,0
3,3.0,2018-09-20,2018-08-25,36673b2f-940a-42b5-994d-1cce4796b55f_1792151,2 days,0
4,3.0,2018-09-22,2018-08-25,36673b2f-940a-42b5-994d-1cce4796b55f_1792152,13 days,1

In [32]:
# df_share = time_df.merge(df_click, on = 'new_session_id', how = 'left')

In [33]:
# df_share.to_csv('merge_to_share.csv')

In [34]:
# df_share.head(5)

In [35]:
merged_df['shipment_date_limit'] = pd.to_datetime(merged_df['shipment_date_limit'])

In [36]:
merged_df['limit_ship'] = merged_df[merged_df['event_name'] == 'BOOKING']['shipment_date_limit'] - merged_df[merged_df['event_name'] == 'BOOKING']['event_time']

In [37]:
merged_df = merged_df.drop(['shipment_date_limit'], axis = 1)

In [38]:
merged_df.head(10)

,new_session_id,event_name,product_id_x,event_time,total_amount,traffic_source,payment_method,payment_status_x,shipment_fee,search_keywords,promo_code_x,promo_amount_x,customer_id,first_join_date,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship
0,00001f29-3ede-4445-95f0-0178934e32ba_1,HOMEPAGE,NaN,2019-05-17 11:51:52.276396+00:00,1427802.0,MOBILE,Credit Card,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05,0.0,0.0,0.0,0.0,0.0,NaT
1,00001f29-3ede-4445-95f0-0178934e32ba_2,ADD_TO_CART,33855.0,2019-05-17 19:54:53.276396+00:00,1427802.0,MOBILE,Credit Card,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05,1.0,0.0,0.0,0.0,0.0,NaT
2,00001f29-3ede-4445-95f0-0178934e32ba_2,HOMEPAGE,NaN,2019-05-17 19:55:12.276396+00:00,1427802.0,MOBILE,Credit Card,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05,1.0,0.0,0.0,0.0,0.0,NaT
3,00001f29-3ede-4445-95f0-0178934e32ba_3,CLICK,NaN,2019-05-18 03:58:25.276396+00:00,1427802.0,MOBILE,Credit Card,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05,0.0,0.0,0.0,0.0,0.0,NaT
4,00001f29-3ede-4445-95f0-0178934e32ba_4,CLICK,NaN,2019-05-18 12:02:44.276396+00:00,1427802.0,MOBILE,Credit Card,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05,0.0,0.0,0.0,0.0,0.0,NaT
5,00001f29-3ede-4445-95f0-0178934e32ba_5,ITEM_DETAIL,NaN,2019-05-18 20:04:54.276396+00:00,1427802.0,MOBILE,Credit Card,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05,0.0,0.0,0.0,0.0,1.0,NaT
6,00001f29-3ede-4445-95f0-0178934e32ba_6,SCROLL,NaN,2019-05-19 04:07:20.276396+00:00,1427802.0,MOBILE,Credit Card,NaN,0.0,NaN,NaN,NaN,74433.0,2017-02-05,0.0,0.0,0.0,0.0,0.0,NaT
7,00001f29-3ede-4445-95f0-0178934e32ba_7,BOOKING,NaN,2019-05-19 20:17:04.276396+00:00,1427802.0,MOBILE,Credit Card,Success,0.0,NaN,NaN,NaN,74433.0,2017-02-05,0.0,0.0,0.0,1.0,0.0,1 days 16:47:54.622096
8,00003eca-954b-4150-aee1-63fc62f395cf_7,HOMEPAGE,NaN,2019-08-24 05:47:16.849738+00:00,339790.0,MOBILE,LinkAja,NaN,0.0,NaN,NaN,NaN,43805.0,2019-08-16,1.0,0.0,0.0,1.0,0.0,NaT
9,00003eca-954b-4150-aee1-63fc62f395cf_7,PROMO_PAGE,NaN,2019-08-24 05:59:38.849738+00:00,339790.0,MOBILE,LinkAja,NaN,0.0,NaN,NaN,NaN,43805.0,2019-08-16,1.0,0.0,0.0,1.0,0.0,NaT

In [39]:
merged_df['session_id'] = merged_df['new_session_id'].apply(lambda x: x[:36])

In [40]:
merged_df.loc[merged_df['event_name'] != 'BOOKING', 'total_amount'] = 0

In [41]:
merged_df[merged_df['total_amount']!= 0]['total_amount'].describe()

count    1.254578e+06
mean     1.181572e+06
std      1.728944e+06
min      1.089800e+04
25%      2.466450e+05
50%      4.558770e+05
75%      1.360496e+06
max      2.350449e+07
Name: total_amount, dtype: float64

In [42]:
max_amounts = merged_df.groupby('new_session_id')['total_amount'].max().reset_index()
merged_df = merged_df.merge(max_amounts, on='new_session_id', suffixes=('', '_max'))
merged_df.loc[merged_df['total_amount'] != merged_df['total_amount_max'], 'total_amount'] = merged_df['total_amount_max']
merged_df = merged_df.drop('total_amount_max', axis=1)

In [43]:
merged_df = merged_df.drop(['event_time', 'product_id_x', 'payment_status_x', 'search_keywords', 'first_join_date', 'promo_code_x'], axis=1)

In [44]:
merged_df.head(20)

,new_session_id,event_name,total_amount,traffic_source,payment_method,shipment_fee,promo_amount_x,customer_id,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,session_id
0,00001f29-3ede-4445-95f0-0178934e32ba_1,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,74433.0,0.0,0.0,0.0,0.0,0.0,NaT,00001f29-3ede-4445-95f0-0178934e32ba
1,00001f29-3ede-4445-95f0-0178934e32ba_2,ADD_TO_CART,0.0,MOBILE,Credit Card,0.0,NaN,74433.0,1.0,0.0,0.0,0.0,0.0,NaT,00001f29-3ede-4445-95f0-0178934e32ba
2,00001f29-3ede-4445-95f0-0178934e32ba_2,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,74433.0,1.0,0.0,0.0,0.0,0.0,NaT,00001f29-3ede-4445-95f0-0178934e32ba
3,00001f29-3ede-4445-95f0-0178934e32ba_3,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,74433.0,0.0,0.0,0.0,0.0,0.0,NaT,00001f29-3ede-4445-95f0-0178934e32ba
4,00001f29-3ede-4445-95f0-0178934e32ba_4,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,74433.0,0.0,0.0,0.0,0.0,0.0,NaT,00001f29-3ede-4445-95f0-0178934e32ba
5,00001f29-3ede-4445-95f0-0178934e32ba_5,ITEM_DETAIL,0.0,MOBILE,Credit Card,0.0,NaN,74433.0,0.0,0.0,0.0,0.0,1.0,NaT,00001f29-3ede-4445-95f0-0178934e32ba
6,00001f29-3ede-4445-95f0-0178934e32ba_6,SCROLL,0.0,MOBILE,Credit Card,0.0,NaN,74433.0,0.0,0.0,0.0,0.0,0.0,NaT,00001f29-3ede-4445-95f0-0178934e32ba
7,00001f29-3ede-4445-95f0-0178934e32ba_7,BOOKING,1427802.0,MOBILE,Credit Card,0.0,NaN,74433.0,0.0,0.0,0.0,1.0,0.0,1 days 16:47:54.622096,00001f29-3ede-4445-95f0-0178934e32ba
8,00003eca-954b-4150-aee1-63fc62f395cf_7,HOMEPAGE,339790.0,MOBILE,LinkAja,0.0,NaN,43805.0,1.0,0.0,0.0,1.0,0.0,NaT,00003eca-954b-4150-aee1-63fc62f395cf
9,00003eca-954b-4150-aee1-63fc62f395cf_7,PROMO_PAGE,339790.0,MOBILE,LinkAja,0.0,NaN,43805.0,1.0,0.0,0.0,1.0,0.0,NaT,00003eca-954b-4150-aee1-63fc62f395cf
10,00003eca-954b-4150-aee1-63fc62f395cf_7,ADD_TO_CART,339790.0,MOBILE,LinkAja,0.0,NaN,43805.0,1.0,0.0,0.0,1.0,0.0,NaT,00003eca-954b-4150-aee1-63fc62f395cf
11,00003eca-954b-4150-aee1-63fc62f395cf_7,BOOKING,339790.0,MOBILE,LinkAja,0.0,NaN,43805.0,1.0,0.0,0.0,1.0,0.0,5 days 11:05:51.122116,00003eca-954b-4150-aee1-63fc62f395cf
12,0000425b-ddc8-4459-a240-6ba814dac132_7,HOMEPAGE,0.0,MOBILE,Credit Card,10000.0,NaN,90074.0,0.0,0.0,0.0,0.0,0.0,NaT,0000425b-ddc8-4459-a240-6ba814dac132
13,0000425b-ddc8-4459-a240-6ba814dac132_8,ADD_TO_CART,0.0,MOBILE,Credit Card,10000.0,NaN,90074.0,1.0,0.0,0.0,0.0,0.0,NaT,0000425b-ddc8-4459-a240-6ba814dac132
14,0000425b-ddc8-4459-a240-6ba814dac132_8,PROMO_PAGE,0.0,MOBILE,Credit Card,10000.0,NaN,90074.0,1.0,0.0,0.0,0.0,0.0,NaT,0000425b-ddc8-4459-a240-6ba814dac132
15,0000425b-ddc8-4459-a240-6ba814dac132_9,BOOKING,291698.0,MOBILE,Credit Card,10000.0,NaN,90074.0,0.0,0.0,0.0,1.0,0.0,1 days 16:20:28.804779,0000425b-ddc8-4459-a240-6ba814dac132
16,00005746-17ec-449c-9c5c-699a3ea9304a_9,HOMEPAGE,1231854.0,MOBILE,Gopay,0.0,NaN,25255.0,1.0,11.0,0.0,1.0,8.0,NaT,00005746-17ec-449c-9c5c-699a3ea9304a
17,00005746-17ec-449c-9c5c-699a3ea9304a_9,CLICK,1231854.0,MOBILE,Gopay,0.0,NaN,25255.0,1.0,11.0,0.0,1.0,8.0,NaT,00005746-17ec-449c-9c5c-699a3ea9304a
18,00005746-17ec-449c-9c5c-699a3ea9304a_9,ADD_TO_CART,1231854.0,MOBILE,Gopay,0.0,NaN,25255.0,1.0,11.0,0.0,1.0,8.0,NaT,00005746-17ec-449c-9c5c-699a3ea9304a
19,00005746-17ec-449c-9c5c-699a3ea9304a_9,SCROLL,1231854.0,MOBILE,Gopay,0.0,NaN,25255.0,1.0,11.0,0.0,1.0,8.0,NaT,00005746-17ec-449c-9c5c-699a3ea9304a

In [45]:
max_amounts = merged_df.groupby('new_session_id')['limit_ship'].max().reset_index()
merged_df = merged_df.merge(max_amounts, on='new_session_id', suffixes=('', '_max'))
merged_df.loc[merged_df['limit_ship'] != merged_df['limit_ship_max'], 'limit_ship'] = merged_df['limit_ship_max']
merged_df = merged_df.drop('limit_ship_max', axis=1)

In [46]:
merged_df = merged_df.drop(['customer_id','session_id'], axis=1)

In [47]:
merged_df.head(20)

,new_session_id,event_name,total_amount,traffic_source,payment_method,shipment_fee,promo_amount_x,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship
0,00001f29-3ede-4445-95f0-0178934e32ba_1,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT
1,00001f29-3ede-4445-95f0-0178934e32ba_2,ADD_TO_CART,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,NaT
2,00001f29-3ede-4445-95f0-0178934e32ba_2,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,NaT
3,00001f29-3ede-4445-95f0-0178934e32ba_3,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT
4,00001f29-3ede-4445-95f0-0178934e32ba_4,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT
5,00001f29-3ede-4445-95f0-0178934e32ba_5,ITEM_DETAIL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,1.0,NaT
6,00001f29-3ede-4445-95f0-0178934e32ba_6,SCROLL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT
7,00001f29-3ede-4445-95f0-0178934e32ba_7,BOOKING,1427802.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,1.0,0.0,1 days 16:47:54.622096
8,00003eca-954b-4150-aee1-63fc62f395cf_7,HOMEPAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,5 days 11:05:51.122116
9,00003eca-954b-4150-aee1-63fc62f395cf_7,PROMO_PAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,5 days 11:05:51.122116
10,00003eca-954b-4150-aee1-63fc62f395cf_7,ADD_TO_CART,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,5 days 11:05:51.122116
11,00003eca-954b-4150-aee1-63fc62f395cf_7,BOOKING,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,5 days 11:05:51.122116
12,0000425b-ddc8-4459-a240-6ba814dac132_7,HOMEPAGE,0.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT
13,0000425b-ddc8-4459-a240-6ba814dac132_8,ADD_TO_CART,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,NaT
14,0000425b-ddc8-4459-a240-6ba814dac132_8,PROMO_PAGE,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,NaT
15,0000425b-ddc8-4459-a240-6ba814dac132_9,BOOKING,291698.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,1.0,0.0,1 days 16:20:28.804779
16,00005746-17ec-449c-9c5c-699a3ea9304a_9,HOMEPAGE,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4 days 17:56:56.849354
17,00005746-17ec-449c-9c5c-699a3ea9304a_9,CLICK,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4 days 17:56:56.849354
18,00005746-17ec-449c-9c5c-699a3ea9304a_9,ADD_TO_CART,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4 days 17:56:56.849354
19,00005746-17ec-449c-9c5c-699a3ea9304a_9,SCROLL,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4 days 17:56:56.849354

In [48]:
merged_df['PAGE_VIEW'] = merged_df.groupby('new_session_id')['event_name'].count()

In [49]:
merged_df.head(20)

,new_session_id,event_name,total_amount,traffic_source,payment_method,shipment_fee,promo_amount_x,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW
0,00001f29-3ede-4445-95f0-0178934e32ba_1,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT,NaN
1,00001f29-3ede-4445-95f0-0178934e32ba_2,ADD_TO_CART,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,NaT,NaN
2,00001f29-3ede-4445-95f0-0178934e32ba_2,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,NaT,NaN
3,00001f29-3ede-4445-95f0-0178934e32ba_3,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT,NaN
4,00001f29-3ede-4445-95f0-0178934e32ba_4,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT,NaN
5,00001f29-3ede-4445-95f0-0178934e32ba_5,ITEM_DETAIL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,1.0,NaT,NaN
6,00001f29-3ede-4445-95f0-0178934e32ba_6,SCROLL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT,NaN
7,00001f29-3ede-4445-95f0-0178934e32ba_7,BOOKING,1427802.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,1.0,0.0,1 days 16:47:54.622096,NaN
8,00003eca-954b-4150-aee1-63fc62f395cf_7,HOMEPAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,5 days 11:05:51.122116,NaN
9,00003eca-954b-4150-aee1-63fc62f395cf_7,PROMO_PAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,5 days 11:05:51.122116,NaN
10,00003eca-954b-4150-aee1-63fc62f395cf_7,ADD_TO_CART,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,5 days 11:05:51.122116,NaN
11,00003eca-954b-4150-aee1-63fc62f395cf_7,BOOKING,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,5 days 11:05:51.122116,NaN
12,0000425b-ddc8-4459-a240-6ba814dac132_7,HOMEPAGE,0.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,0.0,0.0,NaT,NaN
13,0000425b-ddc8-4459-a240-6ba814dac132_8,ADD_TO_CART,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,NaT,NaN
14,0000425b-ddc8-4459-a240-6ba814dac132_8,PROMO_PAGE,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,NaT,NaN
15,0000425b-ddc8-4459-a240-6ba814dac132_9,BOOKING,291698.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,1.0,0.0,1 days 16:20:28.804779,NaN
16,00005746-17ec-449c-9c5c-699a3ea9304a_9,HOMEPAGE,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4 days 17:56:56.849354,NaN
17,00005746-17ec-449c-9c5c-699a3ea9304a_9,CLICK,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4 days 17:56:56.849354,NaN
18,00005746-17ec-449c-9c5c-699a3ea9304a_9,ADD_TO_CART,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4 days 17:56:56.849354,NaN
19,00005746-17ec-449c-9c5c-699a3ea9304a_9,SCROLL,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4 days 17:56:56.849354,NaN

In [50]:
def func(row):
    if row <= timedelta(days = 2):
        return 1
    elif row <= timedelta(days = 3):
        return 2
    elif row <= timedelta(days = 4):
        return 3
    elif row <= timedelta(days = 10):
        return 4
    else:
        return False
merged_df['limit_ship'] = merged_df['limit_ship'].apply(func)

In [51]:
merged_df.head(20)

,new_session_id,event_name,total_amount,traffic_source,payment_method,shipment_fee,promo_amount_x,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW
0,00001f29-3ede-4445-95f0-0178934e32ba_1,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,False,NaN
1,00001f29-3ede-4445-95f0-0178934e32ba_2,ADD_TO_CART,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,False,NaN
2,00001f29-3ede-4445-95f0-0178934e32ba_2,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,False,NaN
3,00001f29-3ede-4445-95f0-0178934e32ba_3,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,False,NaN
4,00001f29-3ede-4445-95f0-0178934e32ba_4,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,False,NaN
5,00001f29-3ede-4445-95f0-0178934e32ba_5,ITEM_DETAIL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,1.0,False,NaN
6,00001f29-3ede-4445-95f0-0178934e32ba_6,SCROLL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,False,NaN
7,00001f29-3ede-4445-95f0-0178934e32ba_7,BOOKING,1427802.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,1.0,0.0,1,NaN
8,00003eca-954b-4150-aee1-63fc62f395cf_7,HOMEPAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,NaN
9,00003eca-954b-4150-aee1-63fc62f395cf_7,PROMO_PAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,NaN
10,00003eca-954b-4150-aee1-63fc62f395cf_7,ADD_TO_CART,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,NaN
11,00003eca-954b-4150-aee1-63fc62f395cf_7,BOOKING,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,NaN
12,0000425b-ddc8-4459-a240-6ba814dac132_7,HOMEPAGE,0.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,0.0,0.0,False,NaN
13,0000425b-ddc8-4459-a240-6ba814dac132_8,ADD_TO_CART,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,False,NaN
14,0000425b-ddc8-4459-a240-6ba814dac132_8,PROMO_PAGE,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,False,NaN
15,0000425b-ddc8-4459-a240-6ba814dac132_9,BOOKING,291698.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,1.0,0.0,1,NaN
16,00005746-17ec-449c-9c5c-699a3ea9304a_9,HOMEPAGE,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,NaN
17,00005746-17ec-449c-9c5c-699a3ea9304a_9,CLICK,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,NaN
18,00005746-17ec-449c-9c5c-699a3ea9304a_9,ADD_TO_CART,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,NaN
19,00005746-17ec-449c-9c5c-699a3ea9304a_9,SCROLL,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,NaN

In [52]:
merged_df['PAGE_VIEW'] = merged_df.groupby('new_session_id')['event_name'].transform('count')

In [53]:
merged_df.head(20)

,new_session_id,event_name,total_amount,traffic_source,payment_method,shipment_fee,promo_amount_x,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW
0,00001f29-3ede-4445-95f0-0178934e32ba_1,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,False,1
1,00001f29-3ede-4445-95f0-0178934e32ba_2,ADD_TO_CART,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,False,2
2,00001f29-3ede-4445-95f0-0178934e32ba_2,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,False,2
3,00001f29-3ede-4445-95f0-0178934e32ba_3,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,False,1
4,00001f29-3ede-4445-95f0-0178934e32ba_4,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,False,1
5,00001f29-3ede-4445-95f0-0178934e32ba_5,ITEM_DETAIL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,1.0,False,1
6,00001f29-3ede-4445-95f0-0178934e32ba_6,SCROLL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,False,1
7,00001f29-3ede-4445-95f0-0178934e32ba_7,BOOKING,1427802.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,1.0,0.0,1,1
8,00003eca-954b-4150-aee1-63fc62f395cf_7,HOMEPAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
9,00003eca-954b-4150-aee1-63fc62f395cf_7,PROMO_PAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
10,00003eca-954b-4150-aee1-63fc62f395cf_7,ADD_TO_CART,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
11,00003eca-954b-4150-aee1-63fc62f395cf_7,BOOKING,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
12,0000425b-ddc8-4459-a240-6ba814dac132_7,HOMEPAGE,0.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,0.0,0.0,False,1
13,0000425b-ddc8-4459-a240-6ba814dac132_8,ADD_TO_CART,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,False,2
14,0000425b-ddc8-4459-a240-6ba814dac132_8,PROMO_PAGE,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,False,2
15,0000425b-ddc8-4459-a240-6ba814dac132_9,BOOKING,291698.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,1.0,0.0,1,1
16,00005746-17ec-449c-9c5c-699a3ea9304a_9,HOMEPAGE,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,66
17,00005746-17ec-449c-9c5c-699a3ea9304a_9,CLICK,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,66
18,00005746-17ec-449c-9c5c-699a3ea9304a_9,ADD_TO_CART,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,66
19,00005746-17ec-449c-9c5c-699a3ea9304a_9,SCROLL,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,66

In [54]:
merged_df.loc[merged_df['limit_ship'] == False, 'limit_ship'] = 0

In [55]:
merged_df.head(20)

,new_session_id,event_name,total_amount,traffic_source,payment_method,shipment_fee,promo_amount_x,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW
0,00001f29-3ede-4445-95f0-0178934e32ba_1,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
1,00001f29-3ede-4445-95f0-0178934e32ba_2,ADD_TO_CART,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0,2
2,00001f29-3ede-4445-95f0-0178934e32ba_2,HOMEPAGE,0.0,MOBILE,Credit Card,0.0,NaN,1.0,0.0,0.0,0.0,0.0,0,2
3,00001f29-3ede-4445-95f0-0178934e32ba_3,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
4,00001f29-3ede-4445-95f0-0178934e32ba_4,CLICK,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
5,00001f29-3ede-4445-95f0-0178934e32ba_5,ITEM_DETAIL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,1.0,0,1
6,00001f29-3ede-4445-95f0-0178934e32ba_6,SCROLL,0.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
7,00001f29-3ede-4445-95f0-0178934e32ba_7,BOOKING,1427802.0,MOBILE,Credit Card,0.0,NaN,0.0,0.0,0.0,1.0,0.0,1,1
8,00003eca-954b-4150-aee1-63fc62f395cf_7,HOMEPAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
9,00003eca-954b-4150-aee1-63fc62f395cf_7,PROMO_PAGE,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
10,00003eca-954b-4150-aee1-63fc62f395cf_7,ADD_TO_CART,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
11,00003eca-954b-4150-aee1-63fc62f395cf_7,BOOKING,339790.0,MOBILE,LinkAja,0.0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
12,0000425b-ddc8-4459-a240-6ba814dac132_7,HOMEPAGE,0.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
13,0000425b-ddc8-4459-a240-6ba814dac132_8,ADD_TO_CART,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,0,2
14,0000425b-ddc8-4459-a240-6ba814dac132_8,PROMO_PAGE,0.0,MOBILE,Credit Card,10000.0,NaN,1.0,0.0,0.0,0.0,0.0,0,2
15,0000425b-ddc8-4459-a240-6ba814dac132_9,BOOKING,291698.0,MOBILE,Credit Card,10000.0,NaN,0.0,0.0,0.0,1.0,0.0,1,1
16,00005746-17ec-449c-9c5c-699a3ea9304a_9,HOMEPAGE,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,66
17,00005746-17ec-449c-9c5c-699a3ea9304a_9,CLICK,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,66
18,00005746-17ec-449c-9c5c-699a3ea9304a_9,ADD_TO_CART,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,66
19,00005746-17ec-449c-9c5c-699a3ea9304a_9,SCROLL,1231854.0,MOBILE,Gopay,0.0,NaN,1.0,11.0,0.0,1.0,8.0,4,66

In [56]:
merged_df.loc[merged_df['event_name'] != 'BOOKING', 'shipment_fee'] = 0

In [57]:
merged_df[merged_df['event_name'] == 'BOOKING']['shipment_fee'].describe()

count    1.254578e+06
mean     9.190831e+03
std      9.372016e+03
min      0.000000e+00
25%      0.000000e+00
50%      1.000000e+04
75%      1.000000e+04
max      5.000000e+04
Name: shipment_fee, dtype: float64

In [58]:
def func(x):
    if x <= 0:
        return 0 
    elif x <= 5000:
        return 1
    elif x <= 10000:
        return 2
    elif x <= 15000:
        return 3
    else:
        return 4


merged_df['shipment_fee'] = merged_df['shipment_fee'].apply(func)

In [59]:
merged_df.head(20)

,new_session_id,event_name,total_amount,traffic_source,payment_method,shipment_fee,promo_amount_x,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW
0,00001f29-3ede-4445-95f0-0178934e32ba_1,HOMEPAGE,0.0,MOBILE,Credit Card,0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
1,00001f29-3ede-4445-95f0-0178934e32ba_2,ADD_TO_CART,0.0,MOBILE,Credit Card,0,NaN,1.0,0.0,0.0,0.0,0.0,0,2
2,00001f29-3ede-4445-95f0-0178934e32ba_2,HOMEPAGE,0.0,MOBILE,Credit Card,0,NaN,1.0,0.0,0.0,0.0,0.0,0,2
3,00001f29-3ede-4445-95f0-0178934e32ba_3,CLICK,0.0,MOBILE,Credit Card,0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
4,00001f29-3ede-4445-95f0-0178934e32ba_4,CLICK,0.0,MOBILE,Credit Card,0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
5,00001f29-3ede-4445-95f0-0178934e32ba_5,ITEM_DETAIL,0.0,MOBILE,Credit Card,0,NaN,0.0,0.0,0.0,0.0,1.0,0,1
6,00001f29-3ede-4445-95f0-0178934e32ba_6,SCROLL,0.0,MOBILE,Credit Card,0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
7,00001f29-3ede-4445-95f0-0178934e32ba_7,BOOKING,1427802.0,MOBILE,Credit Card,0,NaN,0.0,0.0,0.0,1.0,0.0,1,1
8,00003eca-954b-4150-aee1-63fc62f395cf_7,HOMEPAGE,339790.0,MOBILE,LinkAja,0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
9,00003eca-954b-4150-aee1-63fc62f395cf_7,PROMO_PAGE,339790.0,MOBILE,LinkAja,0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
10,00003eca-954b-4150-aee1-63fc62f395cf_7,ADD_TO_CART,339790.0,MOBILE,LinkAja,0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
11,00003eca-954b-4150-aee1-63fc62f395cf_7,BOOKING,339790.0,MOBILE,LinkAja,0,NaN,1.0,0.0,0.0,1.0,0.0,4,4
12,0000425b-ddc8-4459-a240-6ba814dac132_7,HOMEPAGE,0.0,MOBILE,Credit Card,0,NaN,0.0,0.0,0.0,0.0,0.0,0,1
13,0000425b-ddc8-4459-a240-6ba814dac132_8,ADD_TO_CART,0.0,MOBILE,Credit Card,0,NaN,1.0,0.0,0.0,0.0,0.0,0,2
14,0000425b-ddc8-4459-a240-6ba814dac132_8,PROMO_PAGE,0.0,MOBILE,Credit Card,0,NaN,1.0,0.0,0.0,0.0,0.0,0,2
15,0000425b-ddc8-4459-a240-6ba814dac132_9,BOOKING,291698.0,MOBILE,Credit Card,2,NaN,0.0,0.0,0.0,1.0,0.0,1,1
16,00005746-17ec-449c-9c5c-699a3ea9304a_9,HOMEPAGE,1231854.0,MOBILE,Gopay,0,NaN,1.0,11.0,0.0,1.0,8.0,4,66
17,00005746-17ec-449c-9c5c-699a3ea9304a_9,CLICK,1231854.0,MOBILE,Gopay,0,NaN,1.0,11.0,0.0,1.0,8.0,4,66
18,00005746-17ec-449c-9c5c-699a3ea9304a_9,ADD_TO_CART,1231854.0,MOBILE,Gopay,0,NaN,1.0,11.0,0.0,1.0,8.0,4,66
19,00005746-17ec-449c-9c5c-699a3ea9304a_9,SCROLL,1231854.0,MOBILE,Gopay,0,NaN,1.0,11.0,0.0,1.0,8.0,4,66

In [60]:
merged_df['total_promo'] = merged_df.groupby('new_session_id')['promo_amount_x'].transform('sum')

In [61]:
merged_df['total_promo'].describe()

count    2.113016e+07
mean     2.151051e+03
std      1.157101e+04
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.537180e+05
Name: total_promo, dtype: float64

In [62]:
# check_describe = merged_df.drop_duplicates(subset='new_session_id')

In [63]:
# check_describe[check_describe['total_amount'] > 0]['total_amount'].describe()

In [64]:
def func(x):
    if x <= 0:
        return 0 
    elif x <= 2.037932e+05:
        return 1
    elif x <= 3.029890e+05:
        return 2
    elif x <= 5.147018e+05:
        return 3
    else:
        return 4


merged_df['total_amount'] = merged_df['total_amount'].apply(func)

In [65]:
# check_describe[check_describe['total_promo'] > 0]['total_promo'].describe()

In [66]:
def func(x):
    if x <= 0:
        return 0 
    elif x <= 3721.000000:
        return 1
    elif x <= 5404.000000:
        return 2
    elif x <= 8089.500000:
        return 3
    else:
        return 4


merged_df['total_promo'] = merged_df['total_promo'].apply(func)

In [67]:
merged_df = merged_df.drop(['event_name', 'traffic_source', 'payment_method', 'promo_amount_x'], axis=1)

In [68]:
merged_df = merged_df.drop_duplicates(subset='new_session_id')

In [69]:
time_df = time_df.drop(['first_join_date', 'created_at', 'target'], axis=1)

In [70]:
time_df.head(5)

   customer_id                                new_session_id    diff
0          3.0  f03b6825-1e6e-4916-bf71-f94ecbcbaee5_7952132 24 days
1          3.0  36673b2f-940a-42b5-994d-1cce4796b55f_1792149  1 days
2          3.0  36673b2f-940a-42b5-994d-1cce4796b55f_1792150  1 days
3          3.0  36673b2f-940a-42b5-994d-1cce4796b55f_1792151  2 days
4          3.0  36673b2f-940a-42b5-994d-1cce4796b55f_1792152 13 days

In [71]:
time_df = time_df.merge(merged_df, on = 'new_session_id', how = 'left')

In [72]:
time_df['limit_ship'] = time_df['limit_ship'].astype(int)

In [73]:
time_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345385 entries, 0 to 4345384
Data columns (total 13 columns):
 #   Column             Dtype
---  ------             -----
 0   customer_id        float64
 1   new_session_id     object
 2   diff               timedelta64[ns]
 3   total_amount       int64
 4   shipment_fee       int64
 5   ADD_TO_CART_COUNT  float64
 6   SEARCH_COUNT       float64
 7   ADD_PROMO_COUNT    float64
 8   BOOKING_COUNT      float64
 9   ITEM_DETAIL_COUNT  float64
 10  limit_ship         int32
 11  PAGE_VIEW          int64
 12  total_promo        int64
dtypes: float64(6), int32(1), int64(4), object(1), timedelta64[ns](1)
memory usage: 414.4+ MB

In [74]:
time_df.head(10)

,customer_id,new_session_id,diff,total_amount,shipment_fee,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW,total_promo
0,3.0,f03b6825-1e6e-4916-bf71-f94ecbcbaee5_7952132,24 days,4,0,2.0,0.0,1.0,1.0,0.0,1,8,3
1,3.0,36673b2f-940a-42b5-994d-1cce4796b55f_1792149,1 days,0,0,0.0,0.0,0.0,0.0,0.0,0,1,0
2,3.0,36673b2f-940a-42b5-994d-1cce4796b55f_1792150,1 days,0,0,2.0,0.0,0.0,0.0,0.0,0,2,0
3,3.0,36673b2f-940a-42b5-994d-1cce4796b55f_1792151,2 days,0,0,1.0,0.0,0.0,0.0,0.0,0,1,0
4,3.0,36673b2f-940a-42b5-994d-1cce4796b55f_1792152,13 days,1,2,0.0,0.0,0.0,1.0,0.0,3,1,0
5,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883279,1 days,0,0,0.0,0.0,0.0,0.0,0.0,0,1,0
6,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883280,1 days,0,0,1.0,1.0,0.0,0.0,0.0,0,2,0
7,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883281,1 days,0,0,1.0,0.0,1.0,0.0,0.0,0,2,4
8,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883283,1 days,0,0,1.0,0.0,0.0,0.0,0.0,0,1,0
9,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883284,1 days,0,0,0.0,0.0,0.0,0.0,0.0,0,1,0

In [75]:
time_df['total_session'] = time_df.groupby('customer_id')['new_session_id'].transform('count')

In [76]:
time_df.head(10)

,customer_id,new_session_id,diff,total_amount,shipment_fee,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW,total_promo,total_session
0,3.0,f03b6825-1e6e-4916-bf71-f94ecbcbaee5_7952132,24 days,4,0,2.0,0.0,1.0,1.0,0.0,1,8,3,321
1,3.0,36673b2f-940a-42b5-994d-1cce4796b55f_1792149,1 days,0,0,0.0,0.0,0.0,0.0,0.0,0,1,0,321
2,3.0,36673b2f-940a-42b5-994d-1cce4796b55f_1792150,1 days,0,0,2.0,0.0,0.0,0.0,0.0,0,2,0,321
3,3.0,36673b2f-940a-42b5-994d-1cce4796b55f_1792151,2 days,0,0,1.0,0.0,0.0,0.0,0.0,0,1,0,321
4,3.0,36673b2f-940a-42b5-994d-1cce4796b55f_1792152,13 days,1,2,0.0,0.0,0.0,1.0,0.0,3,1,0,321
5,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883279,1 days,0,0,0.0,0.0,0.0,0.0,0.0,0,1,0,321
6,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883280,1 days,0,0,1.0,1.0,0.0,0.0,0.0,0,2,0,321
7,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883281,1 days,0,0,1.0,0.0,1.0,0.0,0.0,0,2,4,321
8,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883283,1 days,0,0,1.0,0.0,0.0,0.0,0.0,0,1,0,321
9,3.0,93e1d3c4-bed1-4ef4-b79f-e24a79e905b7_4883284,1 days,0,0,0.0,0.0,0.0,0.0,0.0,0,1,0,321

In [77]:
time_df['total_session'].describe()

count    4.345385e+06
mean     2.665084e+02
std      1.945406e+02
min      1.000000e+00
25%      1.120000e+02
50%      2.230000e+02
75%      3.850000e+02
max      1.330000e+03
Name: total_session, dtype: float64

In [78]:
# def func(x):
#     if x <= 1:
#         return 1
#     elif x <= 2:
#         return 2
#     elif x <= 4:
#         return 3
#     else:
#         return 4


# time_df['total_session'] = time_df['total_session'].apply(func)

In [79]:
time_df.to_csv('not_label_model.csv')

In [80]:
time_df['PAGE_VIEW'].describe()

count    4.345385e+06
mean     2.460672e+00
std      1.139106e+01
min      1.000000e+00
25%      1.000000e+00
50%      1.000000e+00
75%      2.000000e+00
max      3.483000e+03
Name: PAGE_VIEW, dtype: float64

In [81]:
def func(x):
    if x < 1:
        return 0
    elif x <= 1:
        return 1
    elif x <= 2:
        return 2
    else:
        return 3


time_df['PAGE_VIEW'] = time_df['PAGE_VIEW'].apply(func)

In [82]:
time_df['SEARCH_COUNT'].describe()

count    4.345385e+06
mean     1.752176e-01
std      1.278883e+00
min      0.000000e+00
25%      0.000000e+00
50%      0.000000e+00
75%      0.000000e+00
max      3.010000e+02
Name: SEARCH_COUNT, dtype: float64

In [83]:
def func(x):
    if x < 1:
        return 0
    elif x <= 1:
        return 1
    else:
        return 2


time_df['SEARCH_COUNT'] = time_df['SEARCH_COUNT'].apply(func)
time_df['ITEM_DETAIL_COUNT'] = time_df['ITEM_DETAIL_COUNT'].apply(func)
time_df['ADD_PROMO_COUNT'] = time_df['ADD_PROMO_COUNT'].apply(func)
time_df['ADD_TO_CART_COUNT'] = time_df['ADD_TO_CART_COUNT'].apply(func)

In [84]:
df = time_df.drop(['customer_id', 'new_session_id'], axis = 1)

In [88]:
# check_df에서 diff칼럼이 15일 이상인 행 추출
mask = df['diff'] > pd.Timedelta(days=30)
# target 열 생성
df['target'] = np.where(mask, 1, 0)

In [89]:
df.corr()

,diff,total_amount,shipment_fee,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW,total_promo,total_session,target
diff,1.000000,0.368824,0.259888,0.044351,0.021657,0.053193,0.265596,0.026195,0.375192,0.058248,0.050206,-0.162664,0.657125
total_amount,0.368824,1.000000,0.684585,-0.060294,0.003292,0.006250,0.713817,-0.006365,0.825121,0.088617,0.003922,0.018960,0.414558
shipment_fee,0.259888,0.684585,1.000000,-0.136236,-0.084817,-0.057061,0.490242,-0.092403,0.682496,-0.060446,-0.054494,0.026731,0.332233
ADD_TO_CART_COUNT,0.044351,-0.060294,-0.136236,1.000000,0.126251,0.065041,-0.040400,0.125525,-0.063959,0.574923,0.058065,-0.095029,0.000766
SEARCH_COUNT,0.021657,0.003292,-0.084817,0.126251,1.000000,0.131001,0.001014,0.132898,0.002722,0.194529,0.121105,0.020222,-0.008283
ADD_PROMO_COUNT,0.053193,0.006250,-0.057061,0.065041,0.131001,1.000000,0.009894,0.114161,0.002445,0.248806,0.926297,0.000607,0.022278
BOOKING_COUNT,0.265596,0.713817,0.490242,-0.040400,0.001014,0.009894,1.000000,-0.005091,0.597144,0.179812,0.006895,0.015273,0.297209
ITEM_DETAIL_COUNT,0.026195,-0.006365,-0.092403,0.125525,0.132898,0.114161,-0.005091,1.000000,-0.007169,0.202564,0.104150,-0.001230,-0.004844
limit_ship,0.375192,0.825121,0.682496,-0.063959,0.002722,0.002445,0.597144,-0.007169,1.000000,0.026121,0.001761,0.018615,0.421627
PAGE_VIEW,0.058248,0.088617,-0.060446,0.574923,0.194529,0.248806,0.179812,0.202564,0.026121,1.000000,0.229661,-0.020181,0.022992
total_promo,0.050206,0.003922,-0.054494,0.058065,0.121105,0.926297,0.006895,0.104150,0.001761,0.229661,1.000000,0.000813,0.020537
total_session,-0.162664,0.018960,0.026731,-0.095029,0.020222,0.000607,0.015273,-0.001230,0.018615,-0.020181,0.000813,1.000000,-0.176799
target,0.657125,0.414558,0.332233,0.000766,-0.008283,0.022278,0.297209,-0.004844,0.421627,0.022992,0.020537,-0.176799,1.000000

In [91]:
df.head(5)

,diff,total_amount,shipment_fee,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW,total_promo,total_session,target
0,24 days,4,0,2,0,1,1.0,0,1,3,3,321,0
1,1 days,0,0,0,0,0,0.0,0,0,1,0,321,0
2,1 days,0,0,2,0,0,0.0,0,0,2,0,321,0
3,2 days,0,0,1,0,0,0.0,0,0,1,0,321,0
4,13 days,1,2,0,0,0,1.0,0,3,1,0,321,0

In [92]:
# customer_id별로 total_session 칼럼에 번호 메기기
time_df['total_session'] = time_df.groupby('customer_id')['total_session'].rank(method='first')

In [95]:
time_df.tail(50)

,customer_id,new_session_id,diff,total_amount,shipment_fee,ADD_TO_CART_COUNT,SEARCH_COUNT,ADD_PROMO_COUNT,BOOKING_COUNT,ITEM_DETAIL_COUNT,limit_ship,PAGE_VIEW,total_promo,total_session
4345335,99998.0,d009836a-c8ad-41ee-b2a0-89e787869a00_6877431,1 days,0,0,0,0,0,0.0,0,0,1,0,52.0
4345336,99998.0,d009836a-c8ad-41ee-b2a0-89e787869a00_6877451,165 days,0,0,0,0,0,0.0,0,0,1,0,53.0
4345337,99998.0,34be3c62-f581-49b6-9dd7-b5221d5a8721_1739057,1 days,0,0,0,0,0,0.0,0,0,1,0,54.0
4345338,99998.0,34be3c62-f581-49b6-9dd7-b5221d5a8721_1739058,2 days,0,0,1,0,0,0.0,0,0,2,0,55.0
4345339,99998.0,34be3c62-f581-49b6-9dd7-b5221d5a8721_1739059,1 days,0,0,0,0,1,0.0,0,0,2,2,56.0
4345340,99998.0,34be3c62-f581-49b6-9dd7-b5221d5a8721_1739060,2 days,0,0,0,0,0,0.0,0,0,1,0,57.0
4345341,99998.0,34be3c62-f581-49b6-9dd7-b5221d5a8721_1739061,4 days,0,0,0,0,0,0.0,0,0,1,0,58.0
4345342,99998.0,34be3c62-f581-49b6-9dd7-b5221d5a8721_1739062,123 days,2,0,0,0,0,1.0,0,2,1,0,59.0
4345343,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500911,5 days,0,0,0,0,0,0.0,0,0,2,0,60.0
4345344,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500912,6 days,0,0,2,0,0,0.0,0,0,3,0,61.0
4345345,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500913,5 days,0,0,0,0,0,0.0,0,0,2,0,62.0
4345346,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500915,5 days,0,0,0,0,0,0.0,0,0,2,0,63.0
4345347,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500916,5 days,0,0,0,2,0,0.0,0,0,2,0,64.0
4345348,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500917,6 days,0,0,0,0,0,0.0,0,0,2,0,65.0
4345349,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500918,5 days,0,0,0,0,0,0.0,0,0,2,0,66.0
4345350,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500919,5 days,0,0,2,0,0,0.0,0,0,2,0,67.0
4345351,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500920,6 days,0,0,0,0,0,0.0,0,0,2,0,68.0
4345352,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500921,15 days,0,0,0,0,0,0.0,0,0,2,0,69.0
4345353,99998.0,4c018e81-af7a-429b-8aad-e182c312079a_2500922,183 days,4,2,0,0,0,2.0,0,4,2,0,70.0
4345354,99998.0,11f2cef4-901a-4bec-b691-bfa32fa70f4d_589385,1 days,0,0,0,0,0,0.0,0,0,1,0,71.0
4345355,99998.0,11f2cef4-901a-4bec-b691-bfa32fa70f4d_589386,1 days,0,0,1,0,0,0.0,0,0,2,0,72.0
4345356,99998.0,11f2cef4-901a-4bec-b691-bfa32fa70f4d_589389,1 days,0,0,0,0,0,0.0,1,0,1,0,73.0
4345357,99998.0,11f2cef4-901a-4bec-b691-bfa32fa70f4d_589391,178 days,3,2,0,0,0,1.0,0,1,1,0,74.0
4345358,99998.0,19d9eda5-1a4c-43b4-8f38-0b6b5c00841c_851721,1 days,0,0,0,0,0,0.0,0,0,1,0,75.0
4345359,99998.0,19d9eda5-1a4c-43b4-8f38-0b6b5c00841c_851722,1 days,0,0,1,0,0,0.0,1,0,2,0,76.0
4345360,99998.0,19d9eda5-1a4c-43b4-8f38-0b6b5c00841c_851723,1 days,0,0,0,0,0,0.0,0,0,1,0,77.0
4345361,99998.0,19d9eda5-1a4c-43b4-8f38-0b6b5c00841c_851725,1 days,0,0,0,0,0,0.0,0,0,1,0,78.0
4345362,99998.0,19d9eda5-1a4c-43b4-8f38-0b6b5c00841c_851727,1 days,0,0,0,0,0,0.0,0,0,1,0,79.0
4345363,99998.0,19d9eda5-1a4c-43b4-8f38-0b6b5c00841c_851729,1 days,0,0,0,0,0,0.0,0,0,1,0,80.0
4345364,99998.0,19d9eda5-1a4c-43b4-8f38-0b6b5c00841c_851730,1 days,0,0,1,0,0,0.0,0,0,1,0,81.0
4345365,99998.0,19d9eda5-1a4c-43b4-8f38-0b6b5c00841c_851732,1 days,0,0,0,1,0,0.0,0,0,1,0,82.0
4345366,99998.0,19d9eda5-1a4c-43b4-8f38-0b6b5c00841c_851734,151 days,3,0,0,0,0,1.0,0,2,1,0,83.0
4345367,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625111,1 days,0,0,0,0,0,0.0,0,0,3,0,84.0
4345368,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625112,1 days,0,0,2,0,0,0.0,0,0,3,0,85.0
4345369,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625113,2 days,0,0,2,0,0,0.0,0,0,3,0,86.0
4345370,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625114,1 days,0,0,2,0,0,0.0,2,0,3,0,87.0
4345371,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625115,2 days,0,0,2,0,0,0.0,0,0,3,0,88.0
4345372,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625116,1 days,0,0,2,0,0,0.0,2,0,3,0,89.0
4345373,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625117,1 days,0,0,2,2,0,0.0,0,0,3,0,90.0
4345374,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625118,2 days,0,0,2,0,0,0.0,0,0,3,0,91.0
4345375,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625119,1 days,0,0,2,0,0,0.0,0,0,3,0,92.0
4345376,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625120,1 days,0,0,2,0,0,0.0,0,0,3,0,93.0
4345377,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625121,2 days,0,0,2,0,0,0.0,0,0,3,0,94.0
4345378,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625122,1 days,0,0,2,0,0,0.0,0,0,3,0,95.0
4345379,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625123,2 days,0,0,2,0,0,0.0,0,0,3,0,96.0
4345380,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625124,1 days,0,0,2,0,0,0.0,0,0,3,0,97.0
4345381,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625125,1 days,0,0,2,0,0,0.0,0,0,3,0,98.0
4345382,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625126,2 days,0,0,2,0,0,0.0,0,0,3,0,99.0
4345383,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625127,1 days,0,0,2,0,0,0.0,0,0,3,0,100.0
4345384,99998.0,4fc4d81b-4b29-4aef-bd1f-263c373950d1_2625128,13 days,0,0,0,0,2,0.0,0,0,3,4,101.0

In [96]:
df = time_df.drop(['customer_id', 'new_session_id'], axis = 1)
# check_df에서 diff칼럼이 30일 이상인 행 추출
mask = df['diff'] > pd.Timedelta(days=30)
# target 열 생성
df['target'] = np.where(mask, 1, 0)

In [98]:
df['target'].value_counts()

target
0    4113708
1     231677
Name: count, dtype: int64

In [100]:
df.corr()['target']

diff                 0.657125
total_amount         0.414558
shipment_fee         0.332233
ADD_TO_CART_COUNT    0.000766
SEARCH_COUNT        -0.008283
ADD_PROMO_COUNT      0.022278
BOOKING_COUNT        0.297209
ITEM_DETAIL_COUNT   -0.004844
limit_ship           0.421627
PAGE_VIEW            0.022992
total_promo          0.020537
total_session       -0.130008
target               1.000000
Name: target, dtype: float64

In [ ]:
df.to_csv('30days_target.csv')