In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import datetime
import seaborn as sns
from datetime import timedelta

pd.set_option('display.max_columns', None)
plt.rcParams['font.family'] = 'Malgun Gothic'
plt.rcParams['axes.unicode_minus'] = False
colors = sns.color_palette('pastel')

In [48]:
df_click = pd.read_csv('C:/Users/mj985/section5/ecommerce_project/EDA/new_session_id.csv')
df_trans_new = pd.read_csv('C:/Users/mj985/section5/TeamProject2/csv/transaction_new.csv')
df_customer = pd.read_csv('C:/Users/mj985/section5/TeamProject2/csv/customer.csv')

In [49]:
df_trans_user = df_trans_new.merge(df_customer, on = 'customer_id', how = 'left')

In [50]:
df_click = df_click.rename(columns={'session_id': 'new_session_id'})
df_click['session_id'] = df_click['new_session_id'].apply(lambda x: x[:36])

In [51]:
# session_id 열을 기준으로 df와 df_trans_new를 병합
df_click = pd.merge(df_click, df_trans_user, on='session_id', how='left')
df_click['event_time'] = pd.to_datetime(df_click['event_time'])
df_click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13167727 entries, 0 to 13167726
Data columns (total 43 columns):
 #   Column                  Dtype
---  ------                  -----
 0   new_session_id          object
 1   event_name              object
 2   event_time              datetime64[ns, UTC]
 3   event_id                object
 4   traffic_source          object
 5   product_id_x            float64
 6   quantity_x              float64
 7   item_price_x            float64
 8   payment_status_x        object
 9   search_keywords         object
 10  promo_code_x            object
 11  promo_amount_x          float64
 12  duration_time           object
 13  session_id              object
 14  created_at              object
 15  customer_id             float64
 16  booking_id              object
 17  payment_method          object
 18  payment_status_y        object
 19  promo_amount_y          float64
 20  promo_code_y            object
 21  shipment_fee            float64
 22  shipment_date_limit     object
 23  shipment_location_lat   float64
 24  shipment_location_long  float64
 25  total_amount            float64
 26  product_id_y            float64
 27  quantity_y              float64
 28  item_price_y            float64
 29  first_name              object
 30  last_name               object
 31  username                object
 32  email                   object
 33  gender                  object
 34  birthdate               object
 35  device_type             object
 36  device_id               object
 37  device_version          object
 38  home_location_lat       float64
 39  home_location_long      float64
 40  home_location           object
 41  home_country            object
 42  first_join_date         object
dtypes: datetime64[ns, UTC](1), float64(15), object(27)
memory usage: 4.2+ GB

In [52]:
df_click.head(5)

,new_session_id,event_name,event_time,event_id,traffic_source,product_id_x,quantity_x,item_price_x,payment_status_x,search_keywords,promo_code_x,promo_amount_x,duration_time,session_id,created_at,customer_id,booking_id,payment_method,payment_status_y,promo_amount_y,promo_code_y,shipment_fee,shipment_date_limit,shipment_location_lat,shipment_location_long,total_amount,product_id_y,quantity_y,item_price_y,first_name,last_name,username,email,gender,birthdate,device_type,device_id,device_version,home_location_lat,home_location_long,home_location,home_country,first_join_date
0,00005746-17ec-449c-9c5c-699a3ea9304a_1,HOMEPAGE,2022-03-08 23:17:19.510057+00:00,be5923a5-1dbe-4628-bab9-83603be31dfe,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:04:16,00005746-17ec-449c-9c5c-699a3ea9304a,2022-03-08T23:21:35.510057Z,25255.0,e4c70965-669d-412d-b668-af38aacc4d07,Gopay,Success,0.0,NaN,0.0,2022-03-13T17:18:32.359411Z,-6.272187,106.815766,1231854.0,9980.0,6.0,205309.0,Makara,Hidayanto,14473fbd-c94e-4be0-97b2-439a7841a3ba,14473fbd_c94e_4be0_97b2_439a7841a3ba@startupca...,M,2002-04-25,Android,e6e21631-208d-420b-892c-b9a65800d8c4,Android 2.3.1,-6.272187,106.815766,Jakarta Raya,Indonesia,2020-06-15
1,00005746-17ec-449c-9c5c-699a3ea9304a_1,CLICK,2022-03-08 23:17:22.510057+00:00,b127018a-f240-4f79-a635-5a7a1ba3245a,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:04:16,00005746-17ec-449c-9c5c-699a3ea9304a,2022-03-08T23:21:35.510057Z,25255.0,e4c70965-669d-412d-b668-af38aacc4d07,Gopay,Success,0.0,NaN,0.0,2022-03-13T17:18:32.359411Z,-6.272187,106.815766,1231854.0,9980.0,6.0,205309.0,Makara,Hidayanto,14473fbd-c94e-4be0-97b2-439a7841a3ba,14473fbd_c94e_4be0_97b2_439a7841a3ba@startupca...,M,2002-04-25,Android,e6e21631-208d-420b-892c-b9a65800d8c4,Android 2.3.1,-6.272187,106.815766,Jakarta Raya,Indonesia,2020-06-15
2,00005746-17ec-449c-9c5c-699a3ea9304a_1,ADD_TO_CART,2022-03-08 23:17:23.510057+00:00,f86c461a-7832-463f-bad9-6af354ee54da,MOBILE,9980.0,6.0,205309.0,NaN,NaN,NaN,NaN,0 days 00:04:16,00005746-17ec-449c-9c5c-699a3ea9304a,2022-03-08T23:21:35.510057Z,25255.0,e4c70965-669d-412d-b668-af38aacc4d07,Gopay,Success,0.0,NaN,0.0,2022-03-13T17:18:32.359411Z,-6.272187,106.815766,1231854.0,9980.0,6.0,205309.0,Makara,Hidayanto,14473fbd-c94e-4be0-97b2-439a7841a3ba,14473fbd_c94e_4be0_97b2_439a7841a3ba@startupca...,M,2002-04-25,Android,e6e21631-208d-420b-892c-b9a65800d8c4,Android 2.3.1,-6.272187,106.815766,Jakarta Raya,Indonesia,2020-06-15
3,00005746-17ec-449c-9c5c-699a3ea9304a_1,SCROLL,2022-03-08 23:17:25.510057+00:00,b321d2f0-13b0-4a47-ae9b-c58ed2cadd59,MOBILE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0 days 00:04:16,00005746-17ec-449c-9c5c-699a3ea9304a,2022-03-08T23:21:35.510057Z,25255.0,e4c70965-669d-412d-b668-af38aacc4d07,Gopay,Success,0.0,NaN,0.0,2022-03-13T17:18:32.359411Z,-6.272187,106.815766,1231854.0,9980.0,6.0,205309.0,Makara,Hidayanto,14473fbd-c94e-4be0-97b2-439a7841a3ba,14473fbd_c94e_4be0_97b2_439a7841a3ba@startupca...,M,2002-04-25,Android,e6e21631-208d-420b-892c-b9a65800d8c4,Android 2.3.1,-6.272187,106.815766,Jakarta Raya,Indonesia,2020-06-15
4,00005746-17ec-449c-9c5c-699a3ea9304a_1,SEARCH,2022-03-08 23:17:32.510057+00:00,1770c2e0-0393-480d-a9e8-728ea654a51f,MOBILE,NaN,NaN,NaN,NaN,셔츠,NaN,NaN,0 days 00:04:16,00005746-17ec-449c-9c5c-699a3ea9304a,2022-03-08T23:21:35.510057Z,25255.0,e4c70965-669d-412d-b668-af38aacc4d07,Gopay,Success,0.0,NaN,0.0,2022-03-13T17:18:32.359411Z,-6.272187,106.815766,1231854.0,9980.0,6.0,205309.0,Makara,Hidayanto,14473fbd-c94e-4be0-97b2-439a7841a3ba,14473fbd_c94e_4be0_97b2_439a7841a3ba@startupca...,M,2002-04-25,Android,e6e21631-208d-420b-892c-b9a65800d8c4,Android 2.3.1,-6.272187,106.815766,Jakarta Raya,Indonesia,2020-06-15

In [53]:
df_click['first_join_date'] = pd.to_datetime(df_click['first_join_date'])

In [54]:
df_click = df_click[['new_session_id', 'event_name', 'product_id_x', 'event_time', 'traffic_source', 'payment_status_x', 'search_keywords', 'promo_code_x', 'promo_amount_x', 'customer_id', 'first_join_date']]

In [55]:
df_click.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13167727 entries, 0 to 13167726
Data columns (total 11 columns):
 #   Column            Dtype
---  ------            -----
 0   new_session_id    object
 1   event_name        object
 2   product_id_x      float64
 3   event_time        datetime64[ns, UTC]
 4   traffic_source    object
 5   payment_status_x  object
 6   search_keywords   object
 7   promo_code_x      object
 8   promo_amount_x    float64
 9   customer_id       float64
 10  first_join_date   datetime64[ns]
dtypes: datetime64[ns, UTC](1), datetime64[ns](1), float64(3), object(6)
memory usage: 1.1+ GB

In [56]:
df_click.head(5)

,new_session_id,event_name,product_id_x,event_time,traffic_source,payment_status_x,search_keywords,promo_code_x,promo_amount_x,customer_id,first_join_date
0,00005746-17ec-449c-9c5c-699a3ea9304a_1,HOMEPAGE,NaN,2022-03-08 23:17:19.510057+00:00,MOBILE,NaN,NaN,NaN,NaN,25255.0,2020-06-15
1,00005746-17ec-449c-9c5c-699a3ea9304a_1,CLICK,NaN,2022-03-08 23:17:22.510057+00:00,MOBILE,NaN,NaN,NaN,NaN,25255.0,2020-06-15
2,00005746-17ec-449c-9c5c-699a3ea9304a_1,ADD_TO_CART,9980.0,2022-03-08 23:17:23.510057+00:00,MOBILE,NaN,NaN,NaN,NaN,25255.0,2020-06-15
3,00005746-17ec-449c-9c5c-699a3ea9304a_1,SCROLL,NaN,2022-03-08 23:17:25.510057+00:00,MOBILE,NaN,NaN,NaN,NaN,25255.0,2020-06-15
4,00005746-17ec-449c-9c5c-699a3ea9304a_1,SEARCH,NaN,2022-03-08 23:17:32.510057+00:00,MOBILE,NaN,셔츠,NaN,NaN,25255.0,2020-06-15

In [74]:
time_df = df_click[['customer_id', 'new_session_id', 'event_time', 'first_join_date', 'traffic_source']].drop_duplicates(subset='new_session_id', keep = 'last')

In [58]:
time_df

,customer_id,new_session_id,event_time,first_join_date,traffic_source
0,25255.0,00005746-17ec-449c-9c5c-699a3ea9304a_1,2022-03-08 23:17:19.510057+00:00,2020-06-15,MOBILE
66,78259.0,00007415-e0e7-4a33-95e8-5bc749016876_1,2022-07-24 13:12:21.038087+00:00,2022-07-23,WEB
120,1681.0,00008e68-a4d4-4b5d-ab7a-9fbd44f7b7fd_1,2021-03-07 21:15:39.110664+00:00,2020-03-21,MOBILE
121,1681.0,00008e68-a4d4-4b5d-ab7a-9fbd44f7b7fd_2,2021-03-08 18:37:07.110664+00:00,2020-03-21,MOBILE
123,1681.0,00008e68-a4d4-4b5d-ab7a-9fbd44f7b7fd_3,2021-03-10 13:15:34.110664+00:00,2020-03-21,MOBILE
...,...,...,...,...,...
13167722,2353.0,fffff7cf-2a18-4303-9c12-aa836ae3b543_5353946,2021-02-25 20:37:22.937313+00:00,2020-06-27,MOBILE
13167723,2353.0,fffff7cf-2a18-4303-9c12-aa836ae3b543_5353947,2021-02-25 23:57:56.937313+00:00,2020-06-27,MOBILE
13167724,2353.0,fffff7cf-2a18-4303-9c12-aa836ae3b543_5353948,2021-02-26 03:20:58.937313+00:00,2020-06-27,MOBILE
13167725,2353.0,fffff7cf-2a18-4303-9c12-aa836ae3b543_5353949,2021-02-26 06:42:58.937313+00:00,2020-06-27,MOBILE
13167726,2353.0,fffff7cf-2a18-4303-9c12-aa836ae3b543_5353950,2021-02-26 16:52:59.937313+00:00,2020-06-27,MOBILE

In [75]:
time_df['created_at'] = time_df['event_time'].dt.strftime('%Y-%m-%d')
time_df.head(5)

,customer_id,new_session_id,event_time,first_join_date,traffic_source,created_at
65,25255.0,00005746-17ec-449c-9c5c-699a3ea9304a_1,2022-03-08 23:21:35.510057+00:00,2020-06-15,MOBILE,2022-03-08
119,78259.0,00007415-e0e7-4a33-95e8-5bc749016876_1,2022-07-24 13:16:40.038087+00:00,2022-07-23,WEB,2022-07-24
120,1681.0,00008e68-a4d4-4b5d-ab7a-9fbd44f7b7fd_1,2021-03-07 21:15:39.110664+00:00,2020-03-21,MOBILE,2021-03-07
122,1681.0,00008e68-a4d4-4b5d-ab7a-9fbd44f7b7fd_2,2021-03-08 18:37:32.110664+00:00,2020-03-21,MOBILE,2021-03-08
123,1681.0,00008e68-a4d4-4b5d-ab7a-9fbd44f7b7fd_3,2021-03-10 13:15:34.110664+00:00,2020-03-21,MOBILE,2021-03-10

In [76]:
time_df = time_df.groupby(['customer_id', 'created_at'])['first_join_date'].first().reset_index()

In [77]:
time_df['created_at'] = pd.to_datetime(time_df['created_at'])

In [78]:
time_df['diff'] = time_df['created_at'] - time_df['first_join_date']
time_df['diff'].describe()

count                        2672192
mean     739 days 18:40:21.742150256
std      536 days 18:45:51.513910712
min                -1 days +00:00:00
25%                266 days 00:00:00
50%                644 days 00:00:00
75%               1158 days 00:00:00
max               2217 days 00:00:00
Name: diff, dtype: object

In [79]:
time_df

         customer_id created_at first_join_date      diff
0                3.0 2020-08-22      2018-08-25  728 days
1                3.0 2020-08-23      2018-08-25  729 days
2                3.0 2020-09-20      2018-08-25  757 days
3                3.0 2020-09-21      2018-08-25  758 days
4                3.0 2020-09-23      2018-08-25  760 days
...              ...        ...             ...       ...
2672187      99998.0 2022-01-08      2018-07-01 1287 days
2672188      99998.0 2022-01-09      2018-07-01 1288 days
2672189      99998.0 2022-01-11      2018-07-01 1290 days
2672190      99998.0 2022-01-12      2018-07-01 1291 days
2672191      99998.0 2022-01-25      2018-07-01 1304 days

[2672192 rows x 4 columns]

In [80]:
df_click.drop_duplicates(subset=['new_session_id', 'event_time'], inplace=True)

In [83]:
df_click[df_click['customer_id'] == 38833]

,new_session_id,event_name,product_id_x,event_time,traffic_source,payment_status_x,search_keywords,promo_code_x,promo_amount_x,customer_id,first_join_date
2007664,26dcd0fe-a810-4a8f-a6e5-3e231dec35af_809336,HOMEPAGE,NaN,2021-08-30 22:40:45.349919+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
2007665,26dcd0fe-a810-4a8f-a6e5-3e231dec35af_809337,ADD_TO_CART,13085.0,2021-08-30 23:14:09.349919+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
2007666,26dcd0fe-a810-4a8f-a6e5-3e231dec35af_809337,CLICK,NaN,2021-08-30 23:15:01.349919+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
2007667,26dcd0fe-a810-4a8f-a6e5-3e231dec35af_809338,BOOKING,NaN,2021-08-31 00:21:17.109663+00:00,MOBILE,Success,NaN,NaN,NaN,38833.0,2021-08-31
3046819,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225239,HOMEPAGE,NaN,2022-03-07 17:35:39.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046821,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225240,ADD_TO_CART,23728.0,2022-03-10 12:17:31.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046823,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225240,HOMEPAGE,NaN,2022-03-10 12:26:16.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046825,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225241,ADD_TO_CART,15015.0,2022-03-13 07:04:57.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046827,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225241,HOMEPAGE,NaN,2022-03-13 07:09:42.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046829,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225242,ADD_PROMO,NaN,2022-03-16 01:29:18.109663+00:00,MOBILE,NaN,NaN,STARTUP,8081.0,38833.0,2021-08-31
3046831,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225242,ADD_TO_CART,34817.0,2022-03-16 01:56:59.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046833,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225243,ADD_TO_CART,5924.0,2022-03-18 20:24:01.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046835,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225244,ITEM_DETAIL,NaN,2022-03-21 15:14:29.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046837,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225245,ADD_TO_CART,12483.0,2022-03-24 09:55:53.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046839,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225246,CLICK,NaN,2022-03-27 04:49:17.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046841,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225247,HOMEPAGE,NaN,2022-03-29 23:44:11.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046843,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225248,ADD_TO_CART,20527.0,2022-04-01 18:28:13.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046845,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225249,CLICK,NaN,2022-04-04 13:12:05.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046847,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225250,SCROLL,NaN,2022-04-07 07:49:27.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046849,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225251,ADD_TO_CART,41740.0,2022-04-10 02:39:47.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046851,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225252,SCROLL,NaN,2022-04-12 21:25:17.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046853,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225253,ADD_TO_CART,35698.0,2022-04-15 16:03:44.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046855,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225254,SEARCH,NaN,2022-04-18 11:11:24.109663+00:00,MOBILE,NaN,파티 드레스,NaN,NaN,38833.0,2021-08-31
3046857,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225255,CLICK,NaN,2022-04-21 06:07:35.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046859,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225256,PROMO_PAGE,NaN,2022-04-24 00:59:12.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046861,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225257,SEARCH,NaN,2022-04-26 19:53:44.109663+00:00,MOBILE,NaN,아디다스 신발,NaN,NaN,38833.0,2021-08-31
3046863,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225258,ITEM_DETAIL,NaN,2022-04-29 14:48:36.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
3046865,3acb2535-6ae0-45ed-8ad4-1801aa75f3da_1225259,BOOKING,NaN,2022-05-10 18:14:45.109663+00:00,MOBILE,Success,NaN,NaN,NaN,38833.0,2021-08-31
8348522,a2379fdf-f8c2-43db-88db-a7697294794e_3385272,HOMEPAGE,NaN,2022-01-09 01:00:52.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
8348523,a2379fdf-f8c2-43db-88db-a7697294794e_3385273,ADD_TO_CART,18875.0,2022-01-18 09:32:54.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
8348524,a2379fdf-f8c2-43db-88db-a7697294794e_3385274,ADD_TO_CART,38171.0,2022-01-18 10:05:14.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
8348525,a2379fdf-f8c2-43db-88db-a7697294794e_3385275,ADD_PROMO,NaN,2022-01-27 18:42:21.109663+00:00,MOBILE,NaN,NaN,XX2022,3348.0,38833.0,2021-08-31
8348526,a2379fdf-f8c2-43db-88db-a7697294794e_3385276,BOOKING,NaN,2022-02-15 13:01:14.109663+00:00,MOBILE,Success,NaN,NaN,NaN,38833.0,2021-08-31
11055573,d6ea4775-f534-4465-9f1b-779e3708a406_4493527,HOMEPAGE,NaN,2021-11-08 08:40:01.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055574,d6ea4775-f534-4465-9f1b-779e3708a406_4493528,SEARCH,NaN,2021-11-09 12:11:38.109663+00:00,MOBILE,NaN,파티 드레스,NaN,NaN,38833.0,2021-08-31
11055575,d6ea4775-f534-4465-9f1b-779e3708a406_4493528,ADD_TO_CART,49944.0,2021-11-09 12:17:00.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055576,d6ea4775-f534-4465-9f1b-779e3708a406_4493529,ADD_TO_CART,15254.0,2021-11-10 15:43:31.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055577,d6ea4775-f534-4465-9f1b-779e3708a406_4493529,ADD_PROMO,NaN,2021-11-10 15:44:03.109663+00:00,MOBILE,NaN,NaN,AZ2022,8917.0,38833.0,2021-08-31
11055578,d6ea4775-f534-4465-9f1b-779e3708a406_4493530,PROMO_PAGE,NaN,2021-11-11 19:17:21.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055579,d6ea4775-f534-4465-9f1b-779e3708a406_4493531,CLICK,NaN,2021-11-12 22:50:28.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055580,d6ea4775-f534-4465-9f1b-779e3708a406_4493532,SCROLL,NaN,2021-11-14 02:30:14.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055581,d6ea4775-f534-4465-9f1b-779e3708a406_4493533,HOMEPAGE,NaN,2021-11-15 06:00:23.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055582,d6ea4775-f534-4465-9f1b-779e3708a406_4493534,SCROLL,NaN,2021-11-16 09:28:58.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055583,d6ea4775-f534-4465-9f1b-779e3708a406_4493535,ADD_TO_CART,42833.0,2021-11-17 13:07:07.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055584,d6ea4775-f534-4465-9f1b-779e3708a406_4493536,PROMO_PAGE,NaN,2021-11-18 16:46:21.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055585,d6ea4775-f534-4465-9f1b-779e3708a406_4493537,ADD_TO_CART,25171.0,2021-11-19 20:22:51.109663+00:00,MOBILE,NaN,NaN,NaN,NaN,38833.0,2021-08-31
11055586,d6ea4775-f534-4465-9f1b-779e3708a406_4493538,BOOKING,NaN,2021-11-23 06:39:23.109663+00:00,MOBILE,Success,NaN,NaN,NaN,38833.0,2021-08-31

In [81]:
time_df[time_df['diff']=='-1 days']

         customer_id created_at first_join_date    diff
429454       15609.0 2020-10-16      2020-10-17 -1 days
1049892      38833.0 2021-08-30      2021-08-31 -1 days

In [67]:
check_first = time_df.drop_duplicates(subset = 'customer_id', keep='first')

In [68]:
check_first['diff'].describe()

count                          44206
mean     381 days 12:29:03.401348236
std         470 days 09:06:49.944734
min                -1 days +00:00:00
25%                  1 days 00:00:00
50%                112 days 00:00:00
75%                724 days 00:00:00
max               1846 days 00:00:00
Name: diff, dtype: object